<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Web Admin Portal</title>

    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- AGS Admin CSS - Include with every page -->
    <link href="css/ags-admin.css" rel="stylesheet">

    <!-- Latest CDN link for AngularJS -->
    <script src="js/angular/angular.min.js" type="text/javascript"></script>

    <!-- Including the app.js file -->
    <script src="js/angular/app.js"></script>

    <!-- Including the maincontroller.js file -->
    <script src="js/angular/maincontroller.js"></script>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id='content' ng-app='Login' ng-controller="LoginController">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" id="userUsername" ng-model="userUsername" placeholder="E-mail" name="email" type="text" autofocus value="BackOffice">
                                    <label style="color: red;margin: 5px 0px 0px 0px;">{{userUsernameBlank}}</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="password" ng-model="userPassword" placeholder="Password" name="password" type="password" value="">
                                    <label style="color: red;margin: 5px 0px 0px 0px;">{{userPasswordBlank}}</label>
                                </div>

                                <div class="form-group">
                                        
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <a href="" class="btn btn-lg btn-primary btn-block" ng-click="loginUser()">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- ags Admin Scripts - Include with every page -->
    <script src="js/ags-admin.js"></script>

</body>

</html>
